@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/src/fonts/FiraCode-Light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/FiraCode-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/src/fonts/FiraCode-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/src/fonts/FiraCode-Bold.woff2) format('woff2');
  }
}

@layer components {
  .button-main {
    @apply w-32 h-12 text-2xl border-2 rounded-xl border-stone-600 text-stone-700;
  }
}
